.logo {
    text-align: left;
    padding-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3px;
}

.span1 {
    color: #3A99F8;

}

.span2 {
    color: #1385F6;
}

.span3 {
    color: #0766C5;

}

.span4 {
    color: #05478A;

}

.span5 {
    color: #03294E;

}



.h1 {
    color: #0D0C3F;
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
}



.navbarhome a {
    display: flex;
    text-decoration: none;
    margin-right: 30px;
    /* font-weight: 555; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #0D0C3F;
    padding-top: 39%;
    text-align: left;
}

.home {
    text-align: left;
    left: 30px;
}

nav {
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

.navbaritem a {
    display: flex;
    text-decoration: none;
    margin-right: 30px;
    /* font-weight: 555; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #0D0C3F;
    padding-top: 30px;
}

.navbaritem a:hover {
    color: rgb(12, 14, 173);
}

li {
    position: relative;
    padding: 10px 20px;
    bottom: 0;

}

li::after {
    background-color: #0D0C3F;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
}

li:hover::after {
    width: 80%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search {
    padding-top: 1px;
    text-align: center;
    width: 80%;
    align-items: center;
    padding-left: 300px;
}

.searchItem {
    width: 60%;
    background-color: #ffffff;
    border: 3px solid #0D0C3F;
    border-right: none;
    height: 41px;
    border-radius: 5px 0 1px 5px;
    outline: 20px;
}

.searchButton {
    width: 40px;
    height: 41px;
    border: 3px solid #0D0C3F;
    background: #0D0C3F;
    text-align: center;
    color: #fff;
    border-radius: 0px 5px 5px 0;
    cursor: pointer;
}

.buttonSav {
    width: 80px;
    font-size: 20px;
    color: white;
    background-color: #05478A;
    border: white;
    border-radius: 5px;
    bottom: 10px;
    position: relative;

}

.buttonSav:hover {
    background-color: #0766C5
}

.buttonSav:active {
    background-color: #0766C5;
    transform: translateY(4px);
}

.positon {
    text-align: center;

}