* {
    background: url();
}

.f1 {
    width: 50%;
    text-align: left;
}

.photo {
    position: absolute;
    top: 27%;
    left: 57%;
}

.head {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;

}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(148, 181, 219);
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

.button {

    width: 100%;
    background-color: #05478a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}