.gifs {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  margin: 0 -5px;
  justify-content: center;
}

.gif {
  padding: 20px;

}

.gif:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.loader {
  color: black;
}